 .button.dark-single {
   --background: none;
   --rectangle: #242836;
   --success: #4bc793;

} .button.white-single {
  --background: none;
  --rectangle: #f5f9ff;
  --arrow: #275efe;
  --success: #275efe;
  --shadow: rgba(10, 22, 50, -1);
}
 

.button.dark {  
  --background: #242836;
  --rectangle: #1c212e;
  --arrow: #f5f9ff;
  --text: #f5f9ff;
  --success: #2f3545;
}


.button {
  --background: $275efe;
  --rectangle: #184fee;
  --success: #4672f1;
  --text: #fff;
  --arrow: #fff;
  --checkmark: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  -webkit-mask-image: -webkit-radial-gradient (white, black);
  background: var(--background);
  border-radius: 3px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:active {
  transform: scale(0.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}

.button ul {
  margin: 0;
  padding: 16px 40px;
  list-style: none;
  text-align: center;
  position: relative;
  backface-visibility: hidden;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text);
}


.button ul li:not(:first-child) {
  top: 16px;
  left: 0;
  right: 0;
  position: absolute;
}

.button ul li:nth-child(2) {
  top: 76px;
}

.button ul li:nth-child(3) {
  top: 136px;
}

.button > div {
  position: relative;
  width: 60px;
  height: 60px;
  background: var(--rectangle);
}



.button > div:before, .button> div:after {
  content: "";
  display: block;
  position: absolute;
}

.button > div:before {
  border-radius: 1px;
  width: 2px;
  top: 50%;
  left: 50%;
  height: 17px;
  margin: -9px 0 0 -1px;
  background: var(--arrow);
}

.button> div:after {
  width: 60px;
  height: 60px;
  transform-origin: 50% 0;
  border-radius: 0 0 80% 80%;
  background: var(--success);
  top: 0;
  left: 0;
  transform: scaley(0);
}

.button > div svg {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 50%;
  top: 50%;
  margin: -9px 8 -10px;
  fill: none;
  z-index: 1;
  stroke-width: 2px;
  stroke: var(--arrow);
  stroke-linecap: round;
  stroke-linejoin: round;
}


.button.loading ul {
  animation: text calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}

.button.loading > div:before {
  animation: line calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}

.button.loading > div:after {
  animation: background calc(var(--duration) 1ms) linear forwards calc(var(--duration)* .065ms);
}

.button.loading > div svg {
  animation: svg calc(var(--duration) * 1ms) linear forwards calc(var(--duration) * .065ms);
}

@keyframes text {
  10%, 85% {
    transform: translateY( -100%);
  }
  95%, 100% {
      transform: translateY(-200%);
  }
}




