/* Sayfada kullanılan renkler yorum satırı olarak yazıldı  11:19*/
/*welcome color: #745b37;
buy color: #5b2a02;

p:#2c2727; */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Poppins:wght@600;700&display=swap');          /* welcome yazısında kullanılacaka olan font import et*/
                                        /* font-family: 'Poppins', sans-serif;  ---- tüm sayfa için bu font ama bunu tüm etiketlere verilcek*/

/* ilk olarak etiketler resetlencek, çünkü containerdan gelen margin ve padding köşe boşluklar var
sonuç olarak fazladan margin gelebilir. bu yüzden resetlemek daha iyi şimdilik
reset kodları internetten bulabilirsin
yıldız demek, tüm etiketleri etkiliyor*/
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  font-family: 'Poppins', sans-serif;           /* bu font tüm etiketlere verildi*/
}

  /* a etiketlerine gelirsek */
a,
a:link,
a:visited{
  text-decoration: none;      /* altı çizili istemiyorum*/
  outline: none;              /* üstüne basıldığı zaman etiketten gelen kenarlıkları istemiyorum*/
  border: none;              /*belki yukarıyı okumaz diye */
}

/* liste elemanlarına gelirsek*/
ul,
li{
  list-style: none;         /*listeleri belirtmek için başında yuvarlak şeyle roluyor bunlara gerek yok*/
  margin: 0;                /* belki yukarıyı okumaz diye nolur nolmaz*/
  padding: 0;
}

/* section etiketleri için verirsek */
section, 
span,                       /* welcome yazısında kullanmıştık*/
p{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}

/* bunları dosya şeklinde yap hep kullan*/

.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15pc;      /*alttan üstten sıfır kenarlardan 15pc*/   
}
/* yukarı çok yapışmış olacak. bunları tab değeri vererek ayıracağız*/
/* flex yapısını kullanarak bunları yan yana getireceğiz home about discove contact kısmı yani*/

.header{           /* headerı seç ilk etapta resmi koyalım*/
  background-image: url(menu-stutt.jpg);
  background-position: center;            /* merkezle*/
  background-size: cover;                 /* kapla*/
  background-attachment: fixed;           /* sabit kalır: buraya kadar header kadar yer kaplar ama  bize komple arka plan lazım bu yüzden height değeri verilmeli*/
  height: 100vh;                          /* tüm ekran boyunu kaplar, sadece yazılan kadar değil: phone, tablet fark etmez*/
}

/* flex yapısının kullanımı menu yanyana olacak*/
.header-navbar{
  display: flex;
  align-items: center;                  /* dikey ve yatayda ortala*/
  justify-content: space-between;       /* birbirinden ayır*/
  padding: 40px 0;                      /* yukarıdan biraz ayrılıyor*/
}



/* logo tasarımına geçersek*/
.header-logo{
  font-size: 16px;
  letter-spacing: 2px;                  /* harflerin ayırma aralığı*/
  border-bottom: 5px solid #000;        /* altçizgi verildi logoya -- siyah renk -- böylece borderla logo tasarlandı*/
  border-radius: 35px;
  padding-bottom: 5px;                  /* çok iç içe girmemesi için aralık verelim*/
}

/* liste etiketlerini flex yapalım*/
ul{
  display: flex;
}

/* listeyi tamamlayalım -- # home, about vs birbirinden ayrılcaklar*/
li{
  margin-left: 27px;       
}

li:first-child{                    /* arkaplana uyması açısından home buttonunu biraz kaydırdık*/
  margin-right: 70px;
}  

/*bir taraftan da fontları ayarla: sayfada poppins fontunu kullandım*/
/*https://fonts.google.com/ SEMI-BOLD 600 + SELECT THIS STYLE  en yukarıda css dosyasına dahil ettim*/


a{          /* a etiketinin renk ve fontlarını değiştirelim*/
  color: #000;
  font-weight: bold;
  font-size: 15px;
}

/* hash etiketleri: merkezi yazı ve slogan kullanıp satın alma butonunu koyalım */
/* htmle geri dön sonra css dönerim*/
/* döndükk*/
.header-text{
  position: absolute; /* sayfa ortasına hizala. sütun şeklinde olacak, yanyana durmayacak yani. absolute sayesinde sayfaya top ve left değerleri verilecek bu sayede top bottom left right  */
  top
  left
}


/* 26:39*/

  
  
  
