/* ======================== */
/* 
    Ignore the following styles. They are not important to achieve the effect.
    I'm only using them for looks (overall page background/font styles/centering content).
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: url('./background.jpg') center no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  height: 100vh;
  overflow-x: hidden;
  font-weight: 300;
}

a {
  text-decoration: none;
}

button,
input {
  font: inherit;
}

/* ======================== */
.tracker {
  position: fixed;
  transform: translate(-50%, -50%);
  width: 40px;
  z-index: 9999;
  pointer-events: none;
  transition: all .15s;
}
.tracker svg{
  width: 100%;
  height: 100%;
}


